In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import  seaborn as sns

In [2]:
df= pd.read_csv('movies_metadata.csv')

C:\Users\mihir\AppData\Local\Temp\ipykernel_18040\4240643432.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('movies_metadata.csv')

In [3]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
movies = df[['title','id','genres','overview','popularity','vote_average']]

In [6]:
movies.head()

,title,id,genres,overview,popularity,vote_average
0,Toy Story,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",21.946943,7.7
1,Jumanji,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,17.015539,6.9
2,Grumpier Old Men,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,11.7129,6.5
3,Waiting to Exhale,31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",3.859495,6.1
4,Father of the Bride Part II,11862,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,8.387519,5.7

In [7]:
movies.isnull().sum()

title             6
id                0
genres            0
overview        954
popularity        5
vote_average      6
dtype: int64

In [8]:
movies.dropna(inplace=True)

C:\Users\mihir\AppData\Local\Temp\ipykernel_18040\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [9]:
movies.duplicated().sum()

13

In [10]:
movies = movies.drop_duplicates(subset=['title','id','genres','overview','popularity','vote_average'], keep='first')

In [11]:
movies.iloc[0].genres

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [12]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
     L.append(i['name'])
    return L

In [13]:
import ast 
ast.literal_eval("[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"
)

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [14]:
movies['genres']= movies['genres'].apply(convert)

In [15]:
movies.head()

,title,id,genres,overview,popularity,vote_average
0,Toy Story,862,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",21.946943,7.7
1,Jumanji,8844,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...,17.015539,6.9
2,Grumpier Old Men,15602,"[Romance, Comedy]",A family wedding reignites the ancient feud be...,11.7129,6.5
3,Waiting to Exhale,31357,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...",3.859495,6.1
4,Father of the Bride Part II,11862,[Comedy],Just when George Banks has recovered from his ...,8.387519,5.7

In [16]:
movies['genres']= movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])

In [17]:
movies

,title,id,genres,overview,popularity,vote_average
0,Toy Story,862,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",21.946943,7.7
1,Jumanji,8844,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...,17.015539,6.9
2,Grumpier Old Men,15602,"[Romance, Comedy]",A family wedding reignites the ancient feud be...,11.7129,6.5
3,Waiting to Exhale,31357,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...",3.859495,6.1
4,Father of the Bride Part II,11862,[Comedy],Just when George Banks has recovered from his ...,8.387519,5.7
...,...,...,...,...,...,...
45461,Subdue,439050,"[Drama, Family]",Rising and falling between a man and woman.,0.072051,4.0
45462,Century of Birthing,111109,[Drama],An artist struggles to finish his work while a...,0.178241,9.0
45463,Betrayal,67758,"[Action, Drama, Thriller]","When one of her hits goes wrong, a professiona...",0.903007,3.8
45464,Satan Triumphant,227506,[],"In a small town live two brothers, one a minis...",0.003503,0.0
45465,Queerama,461257,[],50 years after decriminalisation of homosexual...,0.163015,0.0

In [18]:
movies['genres'] = movies['genres'].apply(lambda x: ', '.join(x))

In [19]:
movies.head()

,title,id,genres,overview,popularity,vote_average
0,Toy Story,862,"Animation, Comedy, Family","Led by Woody, Andy's toys live happily in his ...",21.946943,7.7
1,Jumanji,8844,"Adventure, Fantasy, Family",When siblings Judy and Peter discover an encha...,17.015539,6.9
2,Grumpier Old Men,15602,"Romance, Comedy",A family wedding reignites the ancient feud be...,11.7129,6.5
3,Waiting to Exhale,31357,"Comedy, Drama, Romance","Cheated on, mistreated and stepped on, the wom...",3.859495,6.1
4,Father of the Bride Part II,11862,Comedy,Just when George Banks has recovered from his ...,8.387519,5.7

In [20]:
movies['tag'] = movies['genres']+' '+ movies['overview']

In [21]:
movies.head()

,title,id,genres,overview,popularity,vote_average,tag
0,Toy Story,862,"Animation, Comedy, Family","Led by Woody, Andy's toys live happily in his ...",21.946943,7.7,"Animation, Comedy, Family Led by Woody, Andy's..."
1,Jumanji,8844,"Adventure, Fantasy, Family",When siblings Judy and Peter discover an encha...,17.015539,6.9,"Adventure, Fantasy, Family When siblings Judy ..."
2,Grumpier Old Men,15602,"Romance, Comedy",A family wedding reignites the ancient feud be...,11.7129,6.5,"Romance, Comedy A family wedding reignites the..."
3,Waiting to Exhale,31357,"Comedy, Drama, Romance","Cheated on, mistreated and stepped on, the wom...",3.859495,6.1,"Comedy, Drama, Romance Cheated on, mistreated ..."
4,Father of the Bride Part II,11862,Comedy,Just when George Banks has recovered from his ...,8.387519,5.7,Comedy Just when George Banks has recovered fr...

In [22]:
new_df= movies[['title','id','tag','popularity','vote_average']]

In [23]:
new_df.head()

,title,id,tag,popularity,vote_average
0,Toy Story,862,"Animation, Comedy, Family Led by Woody, Andy's...",21.946943,7.7
1,Jumanji,8844,"Adventure, Fantasy, Family When siblings Judy ...",17.015539,6.9
2,Grumpier Old Men,15602,"Romance, Comedy A family wedding reignites the...",11.7129,6.5
3,Waiting to Exhale,31357,"Comedy, Drama, Romance Cheated on, mistreated ...",3.859495,6.1
4,Father of the Bride Part II,11862,Comedy Just when George Banks has recovered fr...,8.387519,5.7

In [24]:
new_df['tag'][0]

"Animation, Comedy, Family Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english', max_features=10000)
tfidf_matrix = tfidf.fit_transform(new_df['tag'])

In [26]:
from sklearn.decomposition import TruncatedSVD

In [27]:
svd = TruncatedSVD(n_components=100)  # adjust to balance speed/accuracy
reduced_matrix = svd.fit_transform(tfidf_matrix)

In [28]:
from sklearn.neighbors import NearestNeighbors

In [29]:
nn_model = NearestNeighbors(n_neighbors=6, metric='cosine').fit(reduced_matrix)

In [30]:
indices = pd.Series(new_df.index, index=new_df['title']).drop_duplicates()

In [37]:
from sklearn.cluster import KMeans

# Try 100 clusters (tune based on dataset)
num_clusters = 90
kmeans = KMeans(n_clusters=num_clusters, random_state=42)
new_df['cluster'] = kmeans.fit_predict(reduced_matrix)

C:\Users\mihir\AppData\Local\Temp\ipykernel_18040\130364044.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['cluster'] = kmeans.fit_predict(reduced_matrix)

In [40]:
def recommend_cluster(title, n=10):
    if title not in df['title'].values:
        return ["Movie not found."]
    
    # Find cluster of given movie
    movie_cluster = new_df.loc[new_df['title'] == title, 'cluster'].values[0]
    
    # Get other movies from same cluster
    cluster_movies = new_df[new_df['cluster'] == movie_cluster]
    
    # Exclude the input movie
    recs = cluster_movies[cluster_movies['title'] != title]
    
    # Return top N based on similarity or just random
    return recs['title'].head(n).tolist()

In [41]:
print(recommend_cluster("Toy Story", 10))

['Balto', 'Pocahontas', 'Gumby: The Movie', 'The Swan Princess', 'The Lion King', 'The Secret Adventures of Tom Thumb', 'Frank and Ollie', 'Beauty and the Beast', 'The Aristocats', 'Space Jam']